body {

  background-image: url(./images/space.bmp);
  color: white;
  text-align: center;
  align: center;

}




.content {
    display: block;
    text-decoration: none;
}

h1 {
    margin: 20px;
    font-style: bold;

}

h2 {
    margin: 20px;

}



footer {
    display: flex;
    flex: 1fr, 1fr, 1fr;
    background-color: transparent;
    position: bottom;
    grid-area: footer;
    margin: 15px;
    color: white;
    font-style: italic;



    text-decoration: none;
    grid-gap: 5px;

    border: solid;
    border-width: 10px;
    border-color: white;

    align-items: center;
}


a {
    color: lime;
    opacity: 1.0;
    align-self: center;
}



.table1, th, td {
    width: 240px;
    border-collapse: collapse;
    border-spacing: 10px;
    border: 3px double;
    table-layout: fixed; /*remember this */
    background-color: #4905c9;
    color: white;



}

.links  {

    /* Below are how to center the links in the footer */
    margin: 0 auto;
    padding: 20px;
    text: 50px;
    word-spacing: 25px; /* This will give space between your words */

    border-width: 10px;
    border-style: solid;
    border-color: white;
    margin: 15px;
    align-self: center;
    color: white;



}


.links, a:hover {
    column-gap: 10px;
    color: gold;
}

.links, a {
    column-gap: 10px;
    color: white;
}